body{
    height: 100vh;
    background-color:#000;
}

.gatoRaton{
    width: 105px; 
    height: 90px;
    background-color: aliceblue; 
    position: relative;
    margin-left: 1467px;
    border: 10px solid gray;
    margin-top: 74px;
    
}

h1{
    text-align: center;
    color: white;
    font-size: 150px;
    font-family: fuenteNew;
    position: absolute;
    letter-spacing: 8px;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 540px;
    
}

.single{
    width: 200px;
    height: 200px;
    fill: aliceblue;
}

@font-face{
    font-family: "fuenteNew";
    src: url("/Proyect-3/Deadknight.otf");
}

.cont1{
    display: grid;
    grid-template-columns: repeat(2,460px);
    grid-template-rows: repeat(2,150px);;
    text-align: center;
    gap: 35px;
    margin-left: 700px;
    margin-top: 300px;

}

.box{
    border: 10px solid white;
    border-radius: 15px;
    padding: 20px;
    color: aliceblue;
    font-size: 45px;
    background-color: #000;
    transition: all .5s ease;
}

.box:hover {
    margin: 10px;
}

.iconos{
    fill: aliceblue;
    width: 60px;
    height: 60px;
}

.video{
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute ;
}


