body{
    background-color: #000c;
}

.cont1{

    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    padding: 45px;
    border-radius: 15px;
    width: 600px;
    position: relative;
    z-index: 1;
    margin: auto;
    gap: 20px;

}

.cont2{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.cont3{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.capa{
    z-index: 2;
    position: absolute;
    background-color: #0004;
    height: 690px;
    width: 690px;
    margin-left: 930px;
    border-radius: 10px;
    margin-top: 200px;
} 

/* .cajasCont1:first-child{
    border-top: none;
    
    border-left: none;
}
.cajasCont1:nth-child(3){
    border-top: none;
    border-right: none;
    
}
.cajasCont1:nth-child(2){
    border-top: none;
    
}
.cajasCont1:nth-child(4){
    border-left: none;
   
}
.cajasCont1:nth-child(6){
    border-right: none;
}
.cajasCont1:nth-child(7){
    border-left: none;
    border-bottom: none;
    
}
.cajasCont1:nth-child(8){
    border-bottom: none;
}

.cajasCont1:nth-child(9){
    
    border-bottom: none;
    border-right: none;
} */

.divCore{
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: 520px;
    width: 800px;
    margin: auto;

}

.repit{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.cajasCont1{
    border: solid;
    box-shadow: 0px 10px;
    background-color: #0002;
    border-radius: 10px;
    text-align: center;
}

h2{
    text-align: center;
    
}
@font-face{
    font-family: "fuenteNew";
    src: url("/Proyect-3/Deadknight.otf");
}

.equisNav{
    width: 50px;
    height: 50px;
}

.circuloNav{
    width: 50px;
    height: 50px;
}

.equis{
    width: 200px;
    height: 200px; 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.circulo{
    width: 150px;
    height: 150px;
    opacity: 0;
    margin-top: 20px;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}

h5{
    padding: 0;
    margin: 0;
}
.eva{
    width: 75px ;
    height: 75px;
    ;
}
