body{
    height: 100vh;
    background-color:#000;
}

.imgTicTac{
    
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 1170px;
    margin-top: 60px;

}


.gatoRaton{
    width: 300px; 
    height: 300px;
    background-color: aliceblue; 
    border-radius: 50px;
    position: absolute;
    margin-left: 1060px;
    margin-top: 0;
    border: 20px solid gray;
}

.cont1{
    display: flex;
    margin-top: 300px;
    justify-content: center;
    justify-content: space-around;
}

.TTT{
    width: 500px;
    height: 500px;
}

h1{
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: fuenteNew;
    letter-spacing: 5px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.single{
    width: 200px;
    height: 200px;
    fill: aliceblue;
}

article{
    position: relative;
    width: 250;
    transition: all .3s ease;
}

article img:first-child{
    box-shadow: 0 60px 60px -60px rgb(0, 30, 255, 0,5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    
}

@font-face{
    font-family: "fuenteNew";
    src: url("/Proyect-3/Deadknight.otf");
}